@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
* {

}
body {
height: 100%;
  background-image: linear-gradient(to right, #1DE5E2, #B588F7);
  font-family: sans-serif;
}
h2 {
  font-family: 'Roboto Mono', monospace, sans-serif;
  text-align: center;
}
#contatore {
  font-family: 'Roboto Mono', monospace, sans-serif;
  position: relative;
  display: flex;
  gap: 2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  background-color: white;
  opacity: .8;
  margin-top: 250px;
  margin-left: 20%;
  margin-right: 20%;
}

#piu, #meno {
  font-family: 'Roboto Mono', monospace, sans-serif;
  font-size: 5rem;
  background:none;
  border: none;
}
#piu:hover, #meno:hover {
  color: #54A5C4;
  cursor: pointer;
}
